#working{
    text-align: center;
    padding: 6%;
}
.list-items{
    text-align: left;
    list-style-type: circle;
    color:dimgrey;
    font-family: 'Poppins', sans-serif;
  
}
#Use{
     font-family: 'Volkhov', serif;
     color: #54a9de;
}
.card:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 7px ridge #54a9de;
border-radius: 5px 5px 5px 5px;

}